{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
    <div class="content-section">

        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2 class="card-title">Log In!</h2>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border mt-2 mb-2"></div>
                or
                <h4>Sign In with:</h4>
                <a href="{% provider_login_url 'google' %}"><button class="btn btn-outline-info" type="submit">Google</button></a>
                <a href="{% provider_login_url 'facebook' method='oauth2' %}"><button class="btn btn-outline-info" type="submit">Facebook</button></a>

        <div class="border-top mt-3">
            <small class="text-muted">Need an Account?</small><br>
            <a class="ml-2" href="{% url 'register' %}"><button class="btn btn-outline-info" type="submit">Register</button></a>
        </div>
    </div>
{% endblock %}
