{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<h1 class="my-4">Foods</h1>
{% for post in posts %}
        <div class="card">
            <h2 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <a href="{% url 'post-detail' post.id %}"><img class="card-img-top" src="{{ post.blog_photo.url }}" alt="Card image cap"></a>
          <div class="card-body">
              <p class="text-muted mb-0" align="left">{{ post.likes.count }} likes {{ post.comments.count }} comments</p>
              <h4><a href="{% url 'user-posts' post.author.username %}">@{{ post.author }}</a></h4>
                <small class="text-muted" >{{ post.date_posted|date:'F d, Y' }}</small>
                <p class="card-text">{{ post.content }}</p>
          </div>
        </div>
<div class="border"></div>
{% endfor %}

{% endblock %}