{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<h1 class="my-4">Food Codes</h1>
<div class="grid-container">
    {% for post in posts %}
      <div class="grid-item">
          <a href="{% url 'user-posts' post.author.username %}"><img class="imginpost mb-1" align="left" src="{{ post.author.profile.image.url }}"></a>
          <div align="right" style="font-size: .67em;"><a href="{% url 'user-posts' post.author.username %}">@{{ post.author }}</a>
          </div>
        <a href="{% url 'post-detail' post.id %}"><img class="card-img mb-1" src="{{ post.photo.url }}" alt=""></a>
        <a href="{% url 'post-detail' post.id %}"><h3 class="article-title">{{ post.title }}</h3></a>
        <div class="border"></div>
        <div class="border"></div>
      </div>
    {% endfor %}
</div>
{% endblock %}